@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));

	& nav {
		@apply border-b-2 border-gray-200 mb-10 bg-blue-500 sticky top-0 z-10;

		& .nav-container {
			@apply w-full py-4 px-3 flex items-center justify-start gap-7 mx-auto max-w-7xl;

			& .nav-brand {
				@apply w-full flex items-center gap-4;

				& img {
					@apply w-[6.25rem] h-[6.25rem];
				}

				& span {
					@apply font-bold text-xl transition duration-300;
					&:hover {
						@apply text-[yellow] scale-105;
					}
				}
			}

			& .nav-back {
				@apply w-full font-normal italic text-base transition duration-300 justify-self-end text-right;
				&:hover {
					@apply text-[yellow];
				}
			}
		}
	}

	& main {
		@apply container mx-auto max-w-screen-xl;

		& .page-container {
			@apply @container mx-auto flex flex-col gap-[1rem];

			& .page-header {
				@apply flex items-center justify-evenly gap-2 p-3;

				& img {
					@apply h-auto;
					width: clamp(7.5rem, -0.789rem + 30.986vw, 24rem);
				}

				& .page-title {
					@apply text-center font-extrabold uppercase @[48rem]:text-yellow-500;
					font-size: clamp(1rem, 0.121rem + 3.286vw, 2.75rem);
				}
			}

			& .page-content {
				@apply grid grid-flow-row grid-cols-3 place-items-center gap-5 @[40rem]:grid-cols-5 @[64rem]:grid-cols-6;

				& .team-link {
					@apply flex flex-col items-center justify-center gap-2 transition transform duration-300 bg-slate-600 rounded-[50%] w-3/4 aspect-square p-2 relative;
					&:hover {
						@apply scale-125;

						& .team-tooltip {
							@apply block;
						}
					}

					& img {
						@apply w-20 h-20;
					}

					& .team-tooltip {
						@apply hidden absolute top-0 left-1/2 translate-x-[-50%];
					}
				}
			}

			& .team {
				@apply flex justify-center gap-5;

				& a {
					@apply text-lg;
					&:hover {
						@apply text-blue-600;
					}
				}
			}

			& .details-card {
				@apply flex flex-col items-center gap-4;
			}

			& .schedule {
				/* @apply mx-auto flex flex-wrap justify-center gap-4 py-4; */
				@apply grid grid-flow-row grid-cols-2 gap-2 px-4 @[40rem]:grid-cols-3 @[48rem]:grid-cols-4 @[60rem]:grid-cols-5 @[80rem]:grid-cols-6;

				& .card {
					@apply w-full flex flex-col items-center gap-1 bg-white rounded-lg pt-3 pb-6 relative border border-solid border-slate-400 transition duration-300 cursor-default;
					&:hover {
						@apply scale-105;
					}
					&.home {
						@apply bg-emerald-200;
					}
					&.away {
						@apply bg-rose-200;
					}

					& .date {
						@apply font-bold text-gray-700 text-lg mb-0;
					}

					& .time {
						@apply font-semibold text-gray-600 text-base mb-0;
					}

					& .venue {
						@apply pb-2 text-sm leading-relaxed text-gray-500 capitalize;
						&.home {
							@apply text-emerald-700;
						}
						&.away {
							@apply text-rose-700;
						}
					}

					& .matchup {
						@apply flex justify-center items-center gap-3;

						& img {
							@apply w-[2rem] h-auto;
						}

						& span {
							@apply font-bold text-slate-900;
						}
					}

					& .badge {
						@apply absolute bottom-0 right-0 rounded-tl-lg rounded-br-lg py-0.5 px-1.5 mt-3 flex flex-col items-center;
						&.win {
							@apply bg-green-700;
						}
						&.lose {
							@apply bg-red-600;
						}
						&.postponed {
							@apply bg-yellow-400 text-red-600;
						}

						& .result {
							@apply text-sm font-bold;
						}

						& .score {
							@apply text-xs font-semibold;
						}
					}
				}
			}

			& .calendar-wrapper {
				@apply w-full flex flex-col items-center gap-5;

				& .calendar-label {
					@apply text-center text-4xl;
				}

				& .calendar-header-row {
					@apply w-11/12 grid grid-cols-7 text-center font-semibold text-lg;
				}

				& .calendar-body {
					@apply w-11/12 grid grid-cols-7 text-center gap-[0.25rem];

					& .calendar-cell-outline {
						&.apr {
							&:first-child {
								@apply col-start-5;
							}
							&:nth-child(2) {
								@apply col-start-7;
							}
							&:nth-child(14) {
								@apply col-start-6;
							}
							&:nth-child(20) {
								@apply col-start-6;
							}
						}
						&.may {
							&:first-child {
								@apply col-start-2;
							}
							&:nth-child(2) {
								@apply hidden;
							}
							&:nth-child(9) {
								@apply col-start-3;
							}
							&:nth-child(11) {
								@apply col-start-6;
							}
							&:nth-child(17) {
								@apply col-start-6;
							}
						}
					}

					& .calendar-cell-content {
						@apply p-2 flex flex-col gap-2 bg-[slategray];

						& .month-day {
							@apply text-right;
						}

						& .matchup {
							@apply flex justify-center items-center gap-4;

							& span {
								@apply text-xl;
								&.home {
									@apply text-green-400;
								}
								&.away {
									@apply text-red-400;
								}
							}

							& img {
								@apply w-[3rem] h-[3rem];
							}
						}
					}
				}
			}
		}
	}
}
