@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));

	& nav {
		@apply border-b-2 border-gray-200 my-10 bg-blue-500;

		& .nav-container {
			@apply w-full py-4 px-3 flex items-center justify-start gap-7 mx-auto max-w-7xl;

			& .nav-brand {
				@apply w-full flex items-center gap-4;

				& img {
					@apply w-[6.25rem] h-[6.25rem];
				}

				& span {
					@apply font-bold text-xl transition duration-300;
					&:hover {
						@apply text-[yellow] scale-105;
					}
				}
			}

			& .nav-back {
				@apply w-full font-normal italic text-base transition duration-300 justify-self-end text-right;
				&:hover {
					@apply text-[yellow];
				}
			}
		}
	}

	& main {
		@apply container mx-auto max-w-screen-xl;

		& .page-container {
			@apply @container mx-auto;

			& .page-title {
				@apply text-center text-4xl font-extrabold pb-3 uppercase @[48rem]:text-yellow-500 @[48rem]:text-5xl;
			}

			& .home {
				@apply flex flex-col items-center gap-3;

				& a {
					@apply text-lg transition duration-200;
					&:hover {
						@apply scale-110 text-blue-500;
					}
				}
			}

			& .team {
				@apply flex justify-center gap-5;

				& a {
					@apply text-lg;
					&:hover {
						@apply text-blue-600;
					}
				}
			}

			& .details-card {
				@apply flex flex-col items-center gap-4;
			}

			& .schedule {
				@apply mx-auto flex flex-wrap justify-center gap-4 py-4;

				& .card {
					@apply w-1/5 flex flex-col items-center gap-1 bg-white rounded-lg pt-3 pb-6 relative border border-solid border-slate-400 transition duration-300 cursor-default;
					&:hover {
						@apply scale-105;
					}
					&.home {
						@apply bg-emerald-200;
					}
					&.away {
						@apply bg-rose-200;
					}

					& .date {
						@apply font-bold text-gray-700 text-lg mb-0;
					}

					& .time {
						@apply font-semibold text-gray-600 text-base mb-0;
					}

					& .venue {
						@apply pb-2 text-sm leading-relaxed text-gray-500 capitalize;
					}

					& .matchup {
						@apply flex justify-center items-center gap-3;

						& img {
							@apply w-[2rem] h-auto;
						}

						& span {
							@apply font-bold text-slate-900;
						}
					}

					& .badge {
						@apply absolute bottom-0 right-0 rounded-tl-lg rounded-br-lg py-0.5 px-1.5 mt-3 inline-block flex flex-col items-center;
						&.win {
							@apply bg-green-700;
						}
						&.lose {
							@apply bg-red-600;
						}

						& .result {
							@apply text-sm font-bold;
						}

						& .score {
							@apply text-xs font-semibold;
						}
					}
				}
			}
		}
	}
}
